@if (investmentData?.length ==0)
{<p class="center"> Please enter some values and press Calculate</p>}
@else {

<table>
<thead>
<tr>
<th> Year</th>
<th> Investment Value</th>
<th> Interest (Year)</th>
<th> Total Interest</th>
<th>Invested Capital</th>
  <th>Total Amount Received</th>
</tr>
</thead>
<tbody>
@for(row of investmentData; track row.year){
  <tr>
    <td>{{row.year}}</td>
    <td>{{row.annualInvestment | currency }}</td>
    <td>{{row.interest | currency}}</td>
    <td>{{row.totalInterest | currency}}</td>
    <td>{{row.totalAmountInvested | currency}}</td>
    <td>{{row.totalAmountInvested + row.totalInterest | currency}}</td>
  </tr>
}
</tbody>
</table>
}

